*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: 0 auto;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 70px;
    line-height: 70px;
    background-color: white;
    font-weight: bold;
    z-index: 500;
}

a{
    text-decoration: none;
    color: black;

}

header ul{
    display: inline-block;
}

.logo{
    float: left;
    vertical-align: middle;
}

.logo img{
    display: inline-block;
    padding: 22px;
    margin-right: 30px;
    
}

.left-nav{
    float: left;

}

.right-nav{
    float: right;
}

.left-nav ul, .right-nav ul{
    list-style: none;
}

.left-nav ul li, .right-nav ul li{
    display: inline-block;
    line-height: 70px;
    padding: 0 10px;

}


.button{
    padding: 6px 18px;
    margin: 0 8px;
    background-color: #0061ff;
    border-color: #0061ff;
    color: white;
}


nav ul li:hover{
    border-bottom: 2px solid black;
}

.jumbo-bg{
    background-color: #b4d0e7;
    height: 650px;
}

.container-jumbo{
    width: 80%;
    margin: 70px auto;
}

.title-subtext{
    float: left;
    width: 30%;
}


.container-jumbo h1{
    padding-top: 50px;
    margin-bottom: 40px;
    font-size: 70px;
}

.title-subtext p{
    margin-bottom: 40px;
    font-weight: bold;
}

.title-subtext button{
    font-size: 20px;
    margin: 0;
}

.title-subtext h4{
    margin: 20px 0;
}

.title-subtext span i{
    display: inline-block;
    font-size: 40px;
}

.title-img{
    float: left;
    width: 70%;
}

.title-img img{
    width: 110%;
}

.container h2{
    margin-top: 250px;
    font-size: 42px;
}

.checkbox{
    margin: 40px 0;
}

.checkbox span{
    margin-right: 30px;
}

.column-aside{
    float: left;
    width: 28%;
}

.column-center{
    float: left;
    margin: 0 80px;
    width: 28%;
}       

.column-top{
    text-align: center;
    border: 1px solid #e3e3e5;
    line-height: 40px;
}

.column-middle{
    height: 900px;
    padding: 15px;
    margin-bottom: 40px;
    border:1px solid #e3e3e5;
}

.column-middle h3{
    margin: 20px 0;
}

.plan{
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 10px;
}

.button.clm{
    margin: 30px 0;
    font-size: 16px;
}

.buy-now{
    display: inline-block;
}

.buy-now a{
    text-decoration: underline;
    color: #0061ff;
}

.border-clm{
    width: 60px;
    margin: 30px 0;
    border:1px solid #e3e3e5;

}

.plan-recap{
    margin: 30px 0;
}

.column-last{
    padding: 15px;
    border:1px solid #e3e3e5;

}

.btm h3{
    float: left;
    width: 70%;
    
}

.button-bottom{
    float: left;
    width: 30%;
    padding: 6px 18px;
    font-size: 16px;
    background-color: #0061ff;
    border-color: #0061ff;
    color: white;
}

.btm h4{
    margin-bottom: 40px;
}

.column-last h4{
    margin: 30px 0;
}





